* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style: none;
}

.deck-wrapper {
  display: grid;
  padding: 1rem;
  place-items: center;
  width: min(95%, 70rem);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.deck {
  border-radius: 12px;
  background-color: aliceblue;
  color: black;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.deck:hover {
  background-color: rgb(189, 198, 205);
}

.deck button {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

form input {
  padding: 0.5rem 1rem;
}

form button {
  padding: 0.5rem 1rem;
}
